@charset "UTF-8";


.visual_list { position: relative;}
/* .visual_list  */
.visual_list .v_sl { height: 940px;}
.visual_list .v_sl img { filter: brightness(85%); width: 100%; height: 100%; object-fit: cover;}
.v_sl { position: relative;}
.v_sl .v_txt { position: absolute; left: 10vw; top: 40%; color: #fff;  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);  }
.v_sl .v_txt h2 { font-size: 5.5rem; font-weight: 700; margin-bottom: 55px; }
.v_sl .v_txt p { font-size: 3rem;}


@media (max-width:1440px) {
  .v_sl .v_txt h2 { font-size: 5rem; }
  .v_sl .v_txt p { font-size: 2.4rem;}
}
@media (max-width:1024px) {
  .v_sl .v_txt h2 { font-size: 4rem; margin-bottom: 35px; }
  .v_sl .v_txt p { font-size: 2rem;}

  .scroll-indicator { display: none;}
}
@media (max-width:800px) {
  .v_sl .v_txt h2 { font-size: 3.5rem; }
  .v_sl .v_txt p { font-size: 2rem;}
  
  .visual_list .v_sl { height: 750px;}
}
@media (max-width:425px) {
  .v_sl .v_txt h2 { font-size: 3rem; }
  .v_sl .v_txt p { font-size: 1.8rem;}
  .visual_list .v_sl { height: 700px;}
}
@media (max-width:375px) {
  .v_sl .v_txt h2 { font-size: 2.5rem; font-weight: 700; margin-bottom: 35px; }
  .v_sl .v_txt p { font-size: 1.6rem;}
  .visual_list .v_sl { height: 600px;}
}


.scroll-indicator {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #000;  
  animation: fadeInUp 2s ease-in-out infinite;
  z-index: 10;
}

/* 마우스 테두리 */
.mouse {
  width: 25px;
  height: 40px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  margin: 0 auto 12px;
}

/* 가운데 휠 */
.mouse .wheel {
  width: 4px;
  height: 8px;
  background: #000;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  animation: wheelMove 1.5s ease-in-out infinite;
}

/* 텍스트 */
.scroll-indicator p {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #fff;
}

/* 휠 모션 */
@keyframes wheelMove {
  0% { top: 10px; opacity: 1; }
  50% { top: 15px; opacity: 0.3; color: #fff;}
  100% { top: 10px; opacity: 1; }
}

/* 전체 깜빡이는 듯한 부드러운 등장 효과 */
@keyframes fadeInUp {
  0%, 100% { opacity: 0.5; transform: translate(-50%, 0);  }
  50% { opacity: 1; transform: translate(-50%, -5px); }
}

@media (max-width:1024px) {
  .scroll-indicator { display: none !important;}
}



/* visual_navigation */
.visual .swiper-button-prev::after {display: none;}
.visual .swiper-button-next::after {display: none;}

.visual .swiper-button-prev {  background: url(../image/logo/arrow-left-circle.png)no-repeat center; width: 30px; height: 30px; }
.visual .swiper-button-next { background: url(../image/logo/arrow-right-circle.png)no-repeat center; width: 30px; height: 30px; }
.visual_list .swiper-button-prev { top: 70%; left: 10vw;}
.visual_list .swiper-button-next { top: 70%; left: 32vw;}
.visual_list .swiper-pagination { left: 13vw; top: 69%; width: 300px; }
.visual_list .swiper-pagination-progressbar-fill { background: #fff;}

.visual_list .slide-toggle-btn div {
  position: absolute;
  left: 30vw;  top: 67.7%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 20;
}
.play { display: none;}

.slide-toggle-btn img { width: 100%; height: 100%;}

@media (max-width:1850px) {
  .visual_list .swiper-pagination { width: 250px; }
}
@media (max-width:1600px) {
  .visual_list .swiper-pagination { width: 200px; }
  .visual_list .slide-toggle-btn div { left: 27.5vw; }
  .visual_list .swiper-button-next { left: 30vw;}
}
@media (max-width:1024px) {
  .visual_list .swiper-pagination { width: 150px; left: 14vw; }
  .visual_list .slide-toggle-btn div { left: 30vw; }
  .visual_list .swiper-button-next { left: 33vw;}
}

@media (max-width:800px) {
  .visual_list .swiper-pagination { width: 100%; bottom: 0; top: auto; left: 0; }
  .visual_list .swiper-pagination-progressbar-fill { background: #2E5CA7;}

  .visual_list .slide-toggle-btn div { display: none; }
  .visual_list .swiper-button-prev { display: none;}
  .visual_list .swiper-button-next { display: none;}
}



/* common title */
section:not(.visual, .ideology, .call) { margin: 150px 0;}
.c_txt { text-align: center;}
.c_txt h3 { font-size: 4.8rem; font-weight: 500;}
.c_txt p { font-size: 2rem; margin-top: 30px; word-break: keep-all;}

@media (max-width:1400px) {
  .c_txt h3 { font-size: 4.3rem; font-weight: 500;}
  .c_txt p { font-size: 1.8rem; margin-top: 30px;}
}
@media (max-width:1200px) {
  .c_txt h3 { font-size: 4rem; }
  .c_txt p { font-size: 1.6rem; margin-top: 20px;}
}
@media (max-width:1000px) {
  section:not(.visual, .ideology, .call) { margin: 100px 0;}
  .c_txt h3 { font-size: 3.6rem; }
}
@media (max-width:800px) {
  .c_txt h3 { font-size: 3.2rem; }
}
@media (max-width:600px) {
  .c_txt h3 { font-size: 2.8rem; }
}
@media (max-width:400px) {
  section:not(.visual, .ideology, .call) { margin: 80px 0;}
  .c_txt h3 { font-size: 2.4rem; }
}
@media (max-width:320px) {
  .c_txt h3 { font-size: 2rem; }
}


/* department  */

/* .depart_list */
.depart_list { margin: 100px 0;}
.depart_list ul li { overflow: hidden; border-radius: 20px; }
.depart_list img { width: 100%; height: 100%; }
.depart_list .d_li { position: relative;  }
.depart_list .d_li p { position: absolute; left: 8%; bottom: 5%; color: #fff; font-weight: 500; font-size: 2.8rem ; z-index: 30; transition: all 0.5s; }

.depart_list ul li .blur {transition: transform 0.5s; position: absolute; left: 0;top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2); backdrop-filter: blur(10px); color: #fff; transform: translateY(100%); display: flex; align-items: end; padding: 30px 20px; z-index: 20; }
.blur p { opacity: 0;}

.depart_list ul li:hover p { bottom: 30%; }
.depart_list ul li:hover .blur { transform: translateY(0);}
.depart_list ul li:hover .blur p { opacity: 1;}

.loop_txt img { width: 100%;}
.loop_txt .swiper-wrapper { transition-timing-function: linear !important;}

@media (max-width:1400px) {
  .depart_list .d_li p { font-size: 2.4rem; }
}
@media (max-width:800px) {
  .depart_list { margin: 80px 0;}
  .depart_list ul li .blur { transform: translateY(0); backdrop-filter: blur(0); background: rgba(0, 0, 0, 0); padding: 20px; }
  .blur p { opacity: 1; font-size: 1.4rem; word-break: keep-all;}
  .depart_list .d_li p { bottom: 30%; font-size: 2.2rem;}
}
@media (max-width:750px) {
    .depart_list .d_li p { bottom: 30%; font-size: 2rem;}

}
@media (max-width:650px) {
  .depart_list .d_li p { font-size: 1.8rem; }
  .department .inner { margin-right: 0; padding-right: 0; }
}
@media (max-width:500px) {
  .depart_list { margin: 50px 0;}
  .depart_list .d_li p { font-size: 2.4rem; }
}
@media (max-width:400px) {
  .depart_list .d_li p { font-size: 2rem; }
}

/* 낙옆 전체 섹션 */
.system_list {
  position: relative;
  width: 55%;
  /* height: 800px; */
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 4분할 레이아웃 */
.isam-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  aspect-ratio: 1 / 0.9;
  gap: 30px;
}

.icon {
  width: 40%; /* 부모(.card) 기준 */
  max-width: 110px; /* 너무 커지지 않게 제한 */
  margin-bottom: 30px;
}
.icon img {
  width: 100%;
  height: auto;
  display: block;
}

/* 카드 기본 */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 40px;
  transition: all 0.5s;
}
.card:hover:nth-child(1) { transform: scale(105%) translate(-5%,-5%);}
.card:hover:nth-child(2) { transform: scale(105%) translate(5%,-5%);}
.card:hover:nth-child(3) { transform: scale(105%) translate(-5%,5%);}
.card:hover:nth-child(4) { transform: scale(105%) translate(5%,5%);}

.card h3 { font-size: 2.8rem; margin-bottom: 10px; word-break: keep-all;}
.card p { font-size: 1.8rem;  word-break: keep-all;}

/* 각 색상 */
.light-blue { background: #79C4F2; border-radius: 0 100px 0 100px; }
.blue { background: #00A4E3; border-radius: 100px 0 100px 0; }
.medium-blue { background: #3B77C3; border-radius: 100px 0 100px 0; }
.dark-blue { background: #254D9A; border-radius: 0 100px 0 100px; }

/* 중앙 ISAM 원형 */
.isam-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  width: 25%;
  aspect-ratio: 1 / 1;
  /* height: 200px; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 3rem;
  color: #3B77C3;
  box-shadow: 0 0 30px rgba(0,0,0,0.15);
  }
.isam-center > div { width: 70%; aspect-ratio: 1 / 1;
   /* height: 150px; */
    border-radius: 50%; background: #fff;  display: flex;
  align-items: center;
  justify-content: center;  }
.isam-center span { letter-spacing: 2px;}

@media (max-width:1400px) {
  .card { padding: 30px;}
  .card h3 { font-size: 2.4rem; margin-bottom: 0; }
  .card p { font-size: 1.6rem; }
}
@media (max-width:1250px) {
  .card { padding: 20px;}
  .card h3 { font-size: 2rem; }
  .icon { width: 30%;}

  .light-blue, .dark-blue { border-radius: 0 80px 0 80px; }
  .blue, .medium-blue { border-radius: 80px 0 80px 0; }
}
@media (max-width:1024px) {
  .system_list { width: 70%;}
  .icon { width: 25%; margin-bottom: 10px;}

}
@media (max-width:800px) {
  .isam-grid { gap: 10px;}

  .card h3 { font-size: 1.8rem; }
  .card p { font-size: 1.4rem; }
  .light-blue, .dark-blue { border-radius: 0 50px 0 50px; }
  .blue, .medium-blue { border-radius: 50px 0 50px 0; }
  .isam-center { font-size: 2rem;} 
}
@media (max-width:600px) {
  .system_list { width: 90%; margin: 50px auto;}
  .isam-center { font-size: 1.5rem;} 
}



/* .docter  */
.docter_wrap { position: relative; height: 36.4583vw; }
.docter_list { margin: 100px 0; height: 100%; }
.docter_list .swiper-slide { border-radius: 20px; overflow: hidden; }
.docter_list .swiper-slide div { transition: margin 0.3s; height: 100%; margin-left: 56.66%; border-radius: 20px; overflow: hidden; }
.docter_list .swiper-slide-next div { margin-left: 0; }
.docter_list img { width: 100%; height: 100%; object-fit: cover; }

@keyframes fadeUp {
  0% { transform: translateY(100px); opacity: 0; }
  50% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.docter_list2 { width: 26.0416vw; height: 100%; position: absolute; left: 23vw; top: 0; z-index: 3; display: flex; align-items: center; }

.docter_list2 h3 { font-size: 5rem; font-weight: 700; margin-bottom: 30px;}
.docter_list2 p { font-size: 2rem; font-weight: 500; margin-bottom: 20px;}
.docter_list2 ul { font-size: 1.6rem;}

.docter_list2 > ul > li { position: absolute; left: 0; top: 0; opacity: 0; width: 100%; height: 100%; display: grid; align-items: center; }
.docter_list2 > ul > li.active { animation: fadeUp 1.2s both; }

.docter_list2 .doctor-btns { display: flex;  gap: 10px; margin-top: 30px; }
.docter_list2 .doctor-btns button { padding: 10px 30px; border-radius: 20px; background: #eee; word-break: keep-all; }
.docter_list2 .doctor-btns button:hover { background: #a0a0a0; }

@media (max-width:1400px) {
  .docter_list2 { left: 20vw; width: 30vw; }
}
@media (max-width:1200px) {
  .docter_wrap { height: 50vw; }
  .docter_list2 { left: 14vw; width: 35vw; }
}
@media (max-width: 1000px) {
  .docter_list2 h3 { font-size: 3rem; }
  .docter_list2 p { font-size: 1.8rem; }
  .docter_list2 ul { font-size: 1.4rem;  }
  .docter_list2 .doctor-btns button { border-radius: 20px; background: #eee; }
}
@media (max-width: 750px) {
  .docter_list2 { left: 11vw; width: 37vw; }
  .docter_list2 h3 { font-size: 2rem; margin-bottom: 10px; }
  .docter_list2 p { font-size: 1.6rem; margin-bottom: 10px; }
  .docter_list2 .doctor-btns { margin-top: 15px; }
  .docter_list2 .doctor-btns button { font-size: 1.2rem; }
}
@media (max-width: 650px) {
  .docter_list2 ul li ul { display: none; }
  .docter_list2 .doctor-btns { display: grid; justify-content: start; }
}
@media (max-width: 400px) {
  .docter_wrap { height: 60vw; }
  .docter_list2 { left: 10vw; width: 38vw; }
  .docter_list2 p { font-size: 1.4rem; }
}




/* .ideology */
.ideology { background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/homepage/main-bg4.png)center/cover no-repeat ; padding: 150px 0; object-fit: cover; }
.ideology .c_txt { color: #fff; text-align: left;}
.ideology_list { display: flex; justify-content: space-between; gap: 30px; margin: 100px 0 50px; text-align: center; }

.ideo_li { width: 100%; border-radius: 20px; background: rgba(255, 255, 255, 0.2); backdrop-filter: blur(7px); display: flex; flex-direction: column; justify-content: center; align-items: center; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); box-shadow: inset 3px 3px 5px rgba(255, 255, 255, 0.2); gap: 20px; color: #fff; padding: 80px 0; transition: all 0.5s; transform: translate(0);}

.ideo_li img { transition: all 0.5s; width: 100%; object-fit: contain;}
.ideo_li:hover { transform: translateY(-20px); background: rgba(255, 255, 255, 0.3);} 
.ideo_li:hover img { transform: scale(1.1)rotate(-5deg)}

.ideo_li h4 { font-size: 2.8rem; margin: 10px 0; }
.ideo_li p { font-size: 1.8rem; word-break: keep-all;}

@media (max-width:1200px){
  .ideo_li { padding: 60px 0; gap: 15px; }
}
@media (max-width:1024px){
  .ideology_list { gap: 20px; margin: 80px 0 50px;}
  .ideo_li { padding: 50px 0; gap: 10px; }
  .ideo_li img { width: 60%; }
  .ideo_li h4 { font-size: 2.4rem; }
  .ideo_li p { font-size: 1.6rem;}
}
@media (max-width:800px){
  .ideo_li { padding: 35px 0; }
  .ideo_li img { width: 40%; }
  .ideo_li h4 { font-size: 2rem;}
}
@media (max-width:700px){
  .ideology_list {flex-direction: column; margin: 50px 0;}
  .ideo_li { padding: 30px 20px; display: flex; flex-direction: row; justify-content: space-around; }  
  
  .ideo_li img { width: 50%; }
  .ideo_li h4 { font-size: 1.8rem; margin-top: 0; margin-bottom: 10px;}
  .ideo_li p { font-size: 1.4rem;}
}
@media (max-width:500px){
  .ideology { padding: 100px 0;}
}
@media (max-width:400px){
  .ideo_li h4 { font-size: 1.6rem;}
}




/* call */
.call { background: #62A7D4; color: #fff; padding: 150px 0; }
.call .inner { display: grid; justify-content: space-between;   grid-template-columns: 1.5fr 1fr; gap: 100px;}

/* call_left */
.call .c_txt { text-align: left;}
.reserve-form {
  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  max-width: 650px;
  margin: 50px 0;
}

.reserve-form input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}
.reserve-form select {   
  flex: 1;
  padding: 12px 15px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.8rem;
  transition: all 0.3s ease;

  background-color: #fff;
  background-image: url("../image/logo/arrow-down.svg"); /* 원하는 화살표 이미지 */
  background-repeat: no-repeat;
  background-position: right 15px center; /* ← 이걸로 위치 조정 */
  background-size: 20px auto;

  appearance: none;          /* 화살표 완전 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* IE 호환용 */
.reserve-form select::-ms-expand {
  display: none;
}

.reserve-form button {
  flex: 1;
  padding: 12px 15px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.reserve-form button:hover {  background: #444444; }

.agree {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-size: 2rem;
  color: #555;
}
.agree .chk { display: flex; gap: 10px; align-items: center; border: 1px solid #fff; padding: 8px 20px; color: #fff; border-radius: 30px; cursor: pointer;}

/* 기본 체크박스 숨기기 */
.agree input[type="checkbox"] { display: none; }

/* 체크박스 대신 보일 커스텀 영역 */
.agree .custom {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../image/logo/checkbox_off.png") no-repeat center/contain;
  vertical-align: middle;
  /* margin-right: 10px;
  margin-bottom: 5px; */
  cursor: pointer;
}

/* 체크된 상태일 때 on 이미지로 변경 */
.agree input[type="checkbox"]:checked + .custom {
  background: url("../image/logo/checkbox_on.png") no-repeat center/contain;
}


/* call_right */
.icon_box ul { display: grid; grid-template-columns: 1fr 1fr; gap: 20px; text-align: center;}
.icon_box ul li { background: rgba(255, 255, 255, 0.2); border-radius: 20px; padding: 30px; transition: all 0.5s; cursor: pointer;}
.icon_box ul li p { font-size: 2rem; margin-top: 10px; word-break: keep-all;}
.call_right img { width: 100%; height: 100%;}

.icon_box ul li:hover { background: rgba(255, 255, 255, 0.4); transform: translateY(-10px);}

@media (max-width:1150px){
  .call .inner { display:block;}
  .reserve-form { margin: 30px 0;}
  .reserve-form input {  font-size: 1.6rem;}
  .reserve-form select { font-size: 1.6rem; }
  .reserve-form button { font-size: 1.6rem;}
  .agree { font-size: 1.6rem;}
  .agree > label { padding: 5px 15px; }

  .call_right { margin-top: 50px;}
  .icon_box ul { grid-template-columns: 1fr 1fr 1fr 1fr;}
  .icon_box ul li p { font-size: 1.6rem; }
}
@media (max-width:768px){ 
  .call { padding: 100px 0;} 
  .icon_box ul li { padding: 15px;}
}
@media (max-width:680px){  
  .icon_box ul { grid-template-columns: 1fr 1fr; gap: 10px;}
  .icon_box ul li { padding: 30px;}
}
@media (max-width:550px){  
  .reserve-form { flex-direction: column;}
  .icon_box ul li { padding: 10px;}
}

/* #gotop  */
#gotop { position: fixed; right: 50px; bottom: 200px; z-index: 999; }
.quick { background: #1F8AD0; border-radius: 20px;  }
.quick-list { display: flex; flex-direction: column; gap: 5px;  }
.quick-list button { width: 80px; height: 80px; border-radius: 20px; display: flex; align-items: center; justify-content: center; display: flex; flex-direction: column; background: transparent;}
.quick-list button:hover { background: #26A9FF;}
.quick span { color: #fff;}

.quick-toggle { width: 80px; height: 80px; border-radius: 20px; display: flex; align-items: center; justify-content: center; flex-direction: column; background: #26A9FF; margin-top: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
.up { background: #fff; width: 80px; height: 80px; border-radius: 20px; display: flex; align-items: center; justify-content: center; margin-top: 20px; cursor: pointer; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);}

@media (max-width:1024px){ 
  #gotop { bottom: 100px; right: 30px;}
 }
 @media (max-width:768px){ 
  .quick span { font-size: 1.4rem;}
  .quick-list button, .quick-toggle, .up { width: 60px; height: 60px;}
 }
 @media (max-width:425px){ 
  #gotop { bottom: 50px; right: 20px;}
  #gotop .quick { display: none;}
  .up { width: 44px; height: 44px;}
 }




