@charset "UTF-8";

/* .visual { height: 700px; } */
.intro_v {width: 100%; height: 700px; background: url("../image/homepage/main-bg4.png") no-repeat center bottom; position: relative; filter: brightness(95%);}
.clinic_v { width: 100%; height: 700px; background: url("../image/homepage/main-bg5.png") no-repeat center bottom; position: relative;}
.reser_v { width: 100%; height: 700px; background: url("../image/homepage/main-bg1.png") no-repeat center bottom; position: relative; }

@media (max-width:1440px) {
  .intro_v, .clinic_v, .reser_v { height: 600px;}
}
@media (max-width:768px) {
  .intro_v, .clinic_v, .reser_v { height: 550px;}
}
@media (max-width:375px) {
  .intro_v, .clinic_v, .reser_v { height: 450px;}
}

.visual_txt { position: absolute; left: 25%; top: 40%; color: #fff;  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); }
.visual_txt h3 { font-size: 5.5rem; font-weight: 700; margin-bottom: 55px; }
.visual_txt p { font-size: 3rem; }

@media (max-width:1440px) {
  .visual_txt { left: 20%; }
  .visual_txt h3 { font-size: 4.5rem; margin-bottom: 35px; }
  .visual_txt p { font-size: 2rem; }
}
@media (max-width:768px) {
  .visual_txt { left: 15%; }
  .visual_txt h3 { font-size: 3.5rem; margin-bottom: 20px; }
  .visual_txt p { font-size: 1.8rem; }
}
@media (max-width:375px) {
  .visual_txt { left: 15%; top: 45%; }
  .visual_txt h3 { font-size: 2.4rem; margin-bottom: 10px; }
  .visual_txt p { font-size: 1.6rem; }
}


/* bar  */
.bar { display: flex; justify-content: center;}
.sub_nav_bar {transform: translateY(-30px);  background: #1C4275; color: #fff; height: 60px; width: 80%; padding: 10px 50px; border-radius: 5px; font-size: 1.8rem; display: flex; align-items: center;}
.sub_nav_bar ul { display: flex; gap: 40px; align-items: center;}

@media (max-width:768px) {
  .sub_nav_bar { transform: translateY(-25px); height: 50px; padding: 10px 30px; font-size: 1.6rem; }
  .sub_nav_bar ul { gap: 28px; }
}
@media (max-width:440px) {
  .sub_nav_bar { transform: translateY(-25px); height: 50px; padding: 10px 30px; font-size: 1.6rem; width: 100%;border-radius: 0; }
  .sub_nav_bar ul { gap: 15px; }
}
@media (max-width:320px) {
  .sub_nav_bar { transform: translateY(-25px); height: 50px; padding: 10px 20px; font-size: 1.6rem; width: 100%;border-radius: 0; }
  .sub_nav_bar ul { gap: 10px; }
}


/* reservation */
.sub_main { margin: 100px 0; }
.sub_main .inner { max-width: 1300px; }
.reser_txt h4 { font-size: 4rem; margin-bottom: 20px; }
.reser_txt p { font-size: 2.4rem; word-break: keep-all; }

@media (max-width:1024px) {
  .reser_txt h4 { font-size: 3rem; }
  .reser_txt p { font-size: 2rem; }
}
@media (max-width:425px) {
  .sub_main { margin: 80px 0; }
  .reser_txt h4 { font-size: 2.8rem; }
  .reser_txt p { font-size: 1.8rem; }
}
@media (max-width:320px) {
  .reser_txt h4 { font-size: 2.4rem; }
  .reser_txt p { font-size: 1.6rem; }
}


.block { background: #62A7D4; color: #fff; border-radius: 20px; padding: 60px; margin-top: 80px; display: grid; grid-template-columns: 1fr 1.2fr; justify-content: center; }
.block h4 { font-size: 3.6rem;}

.reserve-form {
  display: flex;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  max-width: 650px;
  margin: 0 0 50px 0;
}

.reserve-form input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}
.reserve-form select {   
  flex: 1;
  color: #555;
  padding: 12px 15px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1.8rem;
  transition: all 0.3s ease;

  background-color: #fff;
  background-image: url("../image/logo/arrow-down.svg"); /* 원하는 화살표 이미지 */
  background-repeat: no-repeat;
  background-position: right 15px center; /* ← 이걸로 위치 조정 */
  background-size: 20px auto;

  appearance: none;          /* 화살표 완전 제거 */
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* IE 호환용 */
.reserve-form select::-ms-expand {
  display: none;
}

.reserve-form button {
  flex: 1;
  padding: 12px 15px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
}

.reserve-form button:hover {  background: #444; }

.agree {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-size: 2rem;
  color: #555;
}
.agree .chk { display: flex; gap: 10px; align-items: center; border: 1px solid #fff; padding: 8px 20px; color: #fff; border-radius: 30px; cursor: pointer;}

/* 기본 체크박스 숨기기 */
.agree input[type="checkbox"] { display: none; }

/* 체크박스 대신 보일 커스텀 영역 */
.agree .custom {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url("../image/logo/checkbox_off.png") no-repeat center/contain;
  vertical-align: middle;
  /* margin-right: 10px;
  margin-bottom: 5px; */
  cursor: pointer;
}

/* 체크된 상태일 때 on 이미지로 변경 */
.agree input[type="checkbox"]:checked + .custom {
  background: url("../image/logo/checkbox_on.png") no-repeat center/contain;
}

@media (max-width:1150px) {
  .block h4 { font-size: 3.2rem;}
  .reserve-form input, .reserve-form select, .reserve-form button { font-size: 1.6rem;}

  .agree { font-size: 1.8rem;}
}
@media (max-width:1050px) {  
  .block h4 { font-size: 2.8rem;}
  .block { padding: 50px; grid-template-columns: 1fr 1.5fr;}

  .reserve-form { margin-bottom: 30px;}
  .agree .chk { display: flex; gap: 10px; align-items: center; border: 1px solid #fff; padding: 5px 15px; }
}
@media (max-width:878px) {  
  .block { grid-template-columns: 1fr; gap: 30px;}
}
@media (max-width:585px) { 
  
  .block h4 { font-size: 2.4rem;}
  .block { padding: 30px;}
 }
 @media (max-width:400px) { 
  
  .block h4 { font-size: 2rem;}
  .block { padding: 30px;}
  .agree { font-size: 1.6rem;}
 }


.reser_call { margin-top: 80px ;}
.reser_box ul { display: flex; gap: 30px;}
.reser_box ul li { display: flex; gap: 20px; justify-content: center; align-items: center; flex-direction: column; border: solid 1.5px #1F8AD0; border-radius: 10px; padding: 50px 30px; cursor: pointer; transition: all 0.5s;}
.reser_box ul li:hover { background: #1F8AD0; transform: translateY(-20px);}
.reser_box ul li:hover p { color: #fff;}
.reser_box img { width: 100%;}
.reser_box p { font-size: 2.4rem; font-weight: 500; color: #1F8AD0; word-break: keep-all; text-align: center;}

 @media (max-width: 768px) { 
  .reser_call { margin-top: 50px ;}
  .reser_box ul li { padding: 30px 10px;}
  .reser_box p { font-size: 2rem;}
 }
 @media (max-width: 700px) {
  .reser_box ul { flex-wrap: wrap; justify-content: center; gap: 20px;}
  .reser_box ul li { width: 190px; gap: 10px; padding: 20px 10px;}
  }
  @media (max-width: 490px) {
    .reser_box ul { gap: 10px;}
  .reser_box ul li { width: 150px; gap: 10px; padding: 20px 10px;}
  .reser_box p { font-size: 1.6rem;}
  }
  @media (max-width: 490px) {
  .reser_box ul li { width: 120px; gap: 10px; padding: 10px;}
  }



.sub_f #footer { background: #888;}

/* intro */

.intro_txt h4 { font-size: 4rem; margin-top: 30px; word-break: keep-all;}
.intro_logo { display: inline-block;}
.intro_logo img { width: 100%;}
.intro_box { display: flex; justify-content: space-between; gap: 50px; align-items: center; margin-top: 100px;}
.intro_box img { width: 100%; }
.intro_box dl { display: flex; flex-direction: column; gap: 10px
;}
.intro_box dt { font-size: 2.4rem; font-weight: 600; margin-bottom: 20px;}
.intro_box dd { word-break: keep-all;}
.intro_box dd:last-child { font-weight: 600; margin-top: 20px;}

@media (max-width:1024px) {
  .intro .inner { max-width: 800px;}
  .intro_txt h4 { font-size: 3rem; margin-top: 30px;}
  
  .intro_logo img { width: 80%; }
  .intro_box { display: flex; flex-direction: column; gap: 30px; margin-top: 50px; justify-content: start; }
}
@media (max-width:425px) {
  .intro_txt h4 { font-size: 2.4rem; }
  .intro_box dt { font-size: 2rem; font-weight: 600; margin-bottom: 20px;}
}



/* clinic */
.clinic_txt h4 { font-size: 4rem; margin-bottom: 30px;}
.clinic_txt p { display: flex; align-items: center; gap: 10px;}
.clinic_txt_box { display: flex; justify-content: space-between;}
.clinic_txt_box .sub_search {  display: flex ; gap:10px; align-items: center; background: #f9f9f9; padding: 5px 20px; border-radius: 10px; }
.clinic_txt_box .sub_search input { padding: 10px 0; background: #f9f9f9; width: 350px; outline: none;  }
.sub_search input::placeholder { color: #aaa; font-weight: 600;}
.clinic_txt_box .sub_search button { background: transparent; width: 30px; height: 30px;}
.clinic_txt_box .sub_search button img { width: 100%;}

@media (max-width:1440px) {
  .clinic_txt h4 { font-size: 3.6rem; margin-bottom: 20px;}
}
@media (max-width:950px) {
  .clinic_txt_box { flex-direction: column; gap: 20px;}
  .clinic_txt_box .sub_search { width: 370px;}
}
 @media (max-width:425px) {
  .clinic_txt h4 { font-size: 2.8rem;}
  .clinic_txt p { word-break: keep-all; font-size: 1.4rem;}
  
  .clinic_txt_box .sub_search { width: 100%;}
  .sub_search input::placeholder { font-size: 1.4rem;}
  .clinic_txt_box .sub_search button { background: transparent; width: 30px; height: 30px;}
 }

/* .clinic_main */
.clinic_main { margin-top: 100px;}
.clinic_main p { word-break: nowrap; color: #302F7C; font-weight: 600;}
.clinic_main1 { display: grid; grid-template-columns: repeat(6,1fr); gap: 20px 10px; }  /* 수정 */
.clinic_main1 li { border: solid 1px #ccc; border-radius: 10px; display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px 35px; gap: 20px;  cursor: pointer; transition: 0.4s;}
.clinic_main ul li p { white-space: nowrap;}

@media (max-width:1440px) {
  .clinic_main { margin-top: 80px;}
 }
 @media (max-width:1024px) {
  .clinic_main { display: flex; justify-content: center;}
  .clinic_main1 { grid-template-columns: repeat(4,1fr); } /* 수정 */
 }
 @media (max-width:768px) {
  .clinic_main1 { grid-template-columns: repeat(3,1fr); } /* 수정 */
 }
  @media (max-width:600px) {
  .clinic_main1 { grid-template-columns: repeat(2,1fr); } /* 수정 */
 }
 @media (max-width:425px) {  
  .clinic_main { margin-top: 50px;}
  .clinic_main1 li { padding: 10px; gap: 10px;} /* 수정 */
 }
  @media (max-width:375px) {
  .clinic_main1 li { padding: 10px; gap: 10px;} /* 수정 */
  .clinic_main1 li p { font-size: 1.4rem;}
 }
 @media (max-width:320px) {
  .clinic_main1 li { padding: 10px; gap: 10px;} /* 수정 */
  .clinic_main1 li p { font-size: 1.4rem;}
 }

.clinic_main ul li:hover { background: #302F7C; border: #302F7C; transform: translateY(-4px); }
.clinic_main ul li:hover img { filter: invert(100%) brightness(200%);}
.clinic_main ul li:hover p { color: #fff;}

.clinic_main ul li div { display: flex; justify-content: center;}
.clinic_main ul li img { width: 100%; transform: scale(0.8);}
.clinic_main1 li:last-child { opacity: 0;}

.clinic_txt2 { text-align: center; margin-top: 200px; }
.clinic_txt2 h4 { font-size: 4rem; margin-bottom: 30px;}


@media (max-width:1440px) {
  .clinic_txt2  { margin-top: 150px;}
  .clinic_txt2 h4 { font-size: 3.6rem; margin-bottom: 20px;}
}
@media (max-width:425px) {
  .clinic_txt2  { margin-top: 100px;}
  .clinic_txt2 h4 { font-size: 2.8rem;}
  .clinic_txt2 p { word-break: keep-all; font-size: 1.4rem;}
 }

.sub_search2 { display: flex ; gap:10px; align-items: center; place-content: center; margin-top: 30px; }
.sub_search2 input { padding: 20px 30px; background: #f9f9f9; width: 400px; outline: none; border-radius: 50px; }
.sub_search2 input::placeholder { color: #aaa; font-weight: 600;}
.sub_search2 button {display: flex; justify-content: center; align-items: center; background: #174288; width: 60px; height: 60px;border-radius: 100%; }
.sub_search2 button img { filter: invert(100%) brightness(200%); width: 35px; height: 35px;}

@media (max-width:768px) {
  .sub_search2 input { padding: 15px 20px; width: 350px; }
  .sub_search2 button { width: 50px; height: 50px; }
  .sub_search2 button img { width: 25px; height: 25px;}
}
@media (max-width:425px) {
  .sub_search2 input { padding: 10px 20px; width: 300px; }
  .sub_search2 input::placeholder { font-weight: 500; font-size: 1.4rem;}
  .sub_search2 button { width: 40px; height: 40px; }
  .sub_search2 button img { width: 25px; height: 25px;}
}
@media (max-width:375px) {
  .sub_search2 input { padding: 10px 15px;}
  .sub_search2 input::placeholder { letter-spacing: -0.5px;}
  .sub_search2 button { width: 35px; height: 35px; }
  .sub_search2 button img { width: 20px; height: 20px;}
}
@media (max-width:320px) {
  .sub_search2 { background: #f9f9f9; border-radius: 50px; gap: 0; padding-right: 20px;}
  .sub_search2 button { background: transparent;}
  .sub_search2 button img { filter: none; width: 20px; height: 20px;}
}

.clinic_btn { display: flex; gap: 20px; margin-top: 30px;}
.clinic_btn button, .clinic_btn select { background: #f7f7f7; padding: 8px 30px; border-radius: 50px; font-size: 1.8rem; font-weight: 600;}
.clinic_btn select { 
  padding-right: 50px;
  appearance: none;        /* 기본 화살표 제거 (중요!!)  */
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../image/logo/chevron-down.png");
  background-repeat: no-repeat;
  background-position: right 20px center; /* ← 여기서 위치 조절 가능! */
  background-size: 24px;  }

  @media (max-width:768px) {
    .clinic_btn button, .clinic_btn select { font-size: 1.6rem; font-weight: 500; padding: 8px 25px;}
  }
  @media (max-width:375px) {
    .clinic_btn { gap: 10px;}
    .clinic_btn button, .clinic_btn select { font-size: 1.4rem; font-weight: 500; padding: 5px 20px;}
  }


.human { margin: 80px 0;}
.human ul { display: flex; justify-content: space-between; flex-wrap: wrap; gap: 30px;}
  /* 리스트 전체 */
.human ul li {
  width:calc((100% - 30px) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
  }

.human_txt { text-align: right; }
.human_txt dt {  font-size: 2rem;  font-weight: 700;  color: #174288;  margin-bottom: 10px; word-break: keep-all;}
.human_txt h5 {  font-size: 1.8rem;  font-weight: 600;  margin-bottom: 5px; word-break: keep-all;}
.human_txt dd { font-size: 1.6rem;  color: #666; word-break: keep-all;}

/* 자세히보기 버튼 */
.human_btn {
  display: inline-block;
  margin-top: 20px;
  background: #174288;
  color: #fff;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
.human_btn:hover {
  background: #13366c; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  transform: translateY(-2px); 
}


.human_list { width: 50%;}
.human_list img { width: 100%; border-radius: 5px;}

.human_btn2 { display: flex; justify-content: center; margin: 50px 0;}
.human_btn2 button {border: 1px solid #333; background: transparent; padding: 10px 50px; border-radius: 50px; transition: all 0.25s ease;}
.human_btn2 button:hover { background: #333;   color: #fff;  border-color: #333;   box-shadow: 0 4px 10px rgba(0,0,0,0.1);  transform: translateY(-2px); }


  @media (max-width:1024px) {
    .human ul { gap: 25px 15px;}
    .human ul li { width:calc((100% - 15px) / 2); padding: 15px 30px;}
  }
  @media (max-width:768px) {
    .human { margin: 50px 0;}
    .human ul { gap: 25px 10px;}
    .human ul li { width:calc((100% - 10px) / 2); padding: 10px 20px;}
    .human_txt dt {  font-size: 1.6rem; margin-bottom: 8px;}
    .human_txt h5 {  font-size: 1.6rem; margin-bottom: 5px;}
    .human_txt dd {   font-size: 1.4rem;  }

    .human_btn { margin-top: 15px; padding: 5px 15px;}
    .human_btn2 button{ padding: 5px 40px; font-size: 1.4rem;}
  }
  @media (max-width:600px) {
      .human ul { display: flex; }
      .human ul li { width: 100%;}
  }
 @media (max-width:320px) {
    .human ul { gap: 25px 10px;}
    .human ul li { padding: 10px ;}
    .human_txt dt {  font-size: 1.4rem; margin-bottom: 3px;}
    .human_txt h5 {  font-size: 1.6rem; margin-bottom: 2px;}
    .human_txt dd { font-size: 1.4rem;  }

    .human_btn { margin-top: 10px; padding: 3px 15px; font-size: 1.2rem;}
    .human_btn2 button{ padding: 5px 40px; font-size: 1.4rem;}
  }



